*{
  margin: 0;
  padding: 0;
  
  
}
body{
  background-image: url("https://images.unsplash.com/photo-1541746951956-4f27df54f02b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  min-height: 440px;
  color:white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2), 4px 6px 20px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
